body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

#filters {
    font-size: 80%;
    position: absolute;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    left: 40px;
    margin: 15px;
    top: 50px;
    min-height: 50px;
    min-width: 200px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px grey;
}

#slider {
    font-size: 60%;
    margin: 10px;
    margin-top: 40px;
    height: 10px;
}
#slider .noUi-handle {
    height: 18px;
    width: 18px;
}

.center-text {
    text-align: center;
}
